body {
  height: 100vh;
  font-size: 1.2rem;
  color: white;
  background-color: #1f242d;
}

input {
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
  background-color: #82428f;
  color: white;
  padding: 20px 20px;
  border: 3px solid rgb(247, 234, 59);
  border-radius: 10px;
}

input:focus {
  background-color: rgb(65, 90, 32);
}

.btn {
  position: relative;
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
  background: #262c37;
  letter-spacing: 2px;
  font-size: 10px;
  transition: 0.5s;
  width: 25%;
  margin-left: 40%;
}
.btn:hover {
  color: rgb(8, 255, 41);
}
