*{
  padding: 0;
  margin: 0;
}
body {
  background-color: #f1eaea;
}
h2{
  text-align: center;
  padding: 30px;
  font-size: 300%;
}
.box {
  background-color: #ffffff;
  width: 300px;
  margin: 30px;
}
.box-body {
  padding: 20px;
  text-align: center;
}
.title {
  font-weight: bold;
}
.box-container {
  display: flex;
  background-color:#f1eaea;
  width: 1080px;
  margin-left: 20%;
}