* {
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #1f242d;
}
table {
  width: 100%;
  border: 2px solid black;
  border-collapse: collapse;
}
td,
th {
  text-align: center;
  padding: 8px;
}
th {
  height: 30px;
  background-color: rgb(163, 216, 40);
  color: white;
}

tr:nth-child(even) {
  background-color: gray;
}

tr:nth-child(odd) {
  background-color: gold;
}

tr:hover {
  background-color: chocolate;
}
