* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #1f242d;
}
.formLabel {
  position: relative;
  color: yellow;
}

input {
  width: 50%;
  padding: 10px;
  margin: 20px;
  box-sizing: border-box;
  border: 3px solid rgb(240, 55, 116);
  border-radius: 10%;
}
.btn {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
  background: #262c37;
  letter-spacing: 2px;
  font-size: 10px;
  transition: 0.5s;
}
.btn:hover {
  color: yellow;
}
